<div class="row">
  <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
    <button (click)="getDateTime()" class="btn btn-primary center-block border-button mb-2">Display Date</button>
  </div>
  <div class="info center-block">
    <div class="font-family col-xs-12 col-sm-6 col-md-6 col-lg-6 date" id="date">
      <h4 class="mb-2">Day: {{date}}</h4>
      <h4 class="mb-2">Month: {{month}}</h4>
      <h4 class="mb-2">Year: {{year}}</h4>
  </div>
<!-- Fill the above HTML with necessary Angular 2 directives -->
